[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"

[scripts]
dev = "bash -c 'FLASK_ENV=development FLASK_APP=src/main.py pipenv run flask run'"
