[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
aiohttp-devtools = "*"
aiohttp-swagger = "*"

[requires]
python_version = "3.6"

[scripts]
dev = "bash -c 'APP_ENV=development adev runserver src --app-factory=main'"
production = "bash -c 'APP_ENV=production gunicorn src.main:main --bind localhost:8000 --worker-class aiohttp.GunicornWebWorker'"
